@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --game-height: 720px;
  --game-width: 1080px;
  --ratio: calc(var(--game-width) / var(--game-height));
  --primary: #2D2D2D;
  --secondary: #272727;

  --text-1: #c2cccc;
  --text-2: #8bcc8b;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.body-home {
  background-color: var(--secondary);
  color: var(--text-2);
  margin: 0;
  border: 0;
  font-size: 1.7vmin!important;
  font-family: monospace!important;

  --primary: #2D2D2D;
  --secondary: #272727;

  --text-1: #c2cccc;
  --text-2: #8bcc8b;

}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-alt {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  display: flex;
}

/* HEADER */

.logo {
  padding: 8px;
  height: 6vh;
  border: 8;
  top: 50%
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  height: 6vh;
  white-space: nowrap;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

/* HOMEPAGE */

.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 94vh;
  max-height: 94vh;
  border: 0;
  margin: 0;
}

/* LEFT PANEL */

.left-panel {
  order: -1;
  width: 40%;
  min-width: 40%;
  height: 100%;
  float: left;
  border-collapse: collapse;
  border: 0;
  margin: 0;
  display: flex;
}

.code-controls {
  position: relative;
  height: 4vh;
  width: 100%;
  border: 0;
  margin: 0;
  display: block;
}

.code-controls-container {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  display: flex;
}

#editor { 
  position: relative;
  min-height: 100px;
  height: 89.5vh;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ace_scroller {
  bottom: 0px!important;
}

.ace_editor.ace_autocomplete {
  width: 60%!important;
}

body .ace_scrollbar-v {
  overflow-y: auto;
}

body .ace_scrollbar-h {
  overflow-x: hidden;
}

.code-container {
    position:relative;
    width:100%;
    height: 100%;
    border: 0;
    margin: 0;
    display: block;
    margin: auto;
}


/* MIDDLE PANEL */

.middle-panel {
  width: 48%;
  height: 100%;
  float: left;
  border-collapse: collapse;
  border: 0;
  margin: 0;
}

.game-panel {
  order: -1;
  flex-grow: 2;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  width: 100%;
  border: 0;
  margin: 0;
  display: flex;
}

.game-canvas {
  width: 100%;
  float: left;
}

.game-controls {
  position: relative;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  justify-content: center;
  margin: auto;
  height: 4.0vh;
  margin-bottom: -4.0vh;
  display: flex;
}

.memory-container {
  position: relative;
  display: flex;
  margin: 0;
  width: 100%;
  height: calc(93.5vh - (100vw / (1.5 / 0.48)));
  align-items: stretch;
}

.memory-select {
  margin: auto;
  width: 33%;
  height: 100%;
  background-color: var(--secondary);
  text-align: left;
  flex-shrink: 0;
  overflow-y: auto;
}

.memory-inspect {
  position: relative;
  margin: auto;
  width: 66%;
  height: 100%;
  max-height: 100%;
  background-color: var(--secondary);
  text-align: left;
  flex-shrink: 0;
  overflow-y: auto;
}

/* RIGHT PANEL */

.right-panel {
  width: 12%;
  height: 100%;
  float: right;
  border-collapse: collapse;
  border: 0;
  margin: 0;
}

.score-panel {
  height: 12.5vh;
  font-size: 16px;
  font-size: 1.7vmin;
  background-color: var(--secondary);
}

.timer-panel {
  order: 0;
  height: 3vh;
  justify-content: center;
  align-content: center;
  display: flex;
  background-color: var(--secondary);
}

.ship-panel {
  margin: auto;
  width: 100%;
  height: 78vh;
  background-color: var(--secondary);
  flex-shrink: 0;
  overflow-y: auto;
  text-align: center;
}




.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.code {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

/* BUTTONS */

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-main:hover {
  background-color: var(--secondary);
}

.btn-main {
  color: var(--text-2);
  background-color: var(--primary);
  border: none;
  margin: 0.2%;
  font-family: monospace;
  padding: 1px 6px;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-game:hover {
  background-color: var(--secondary);
}

.btn-game {
  color: var(--text-2);
  background-color: var(--primary);
  padding: 5%;
  font-family: monospace;
  font-size: 1.7vmin;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* FLEXBOX GRID */

.teams-info {
  padding: 8px;
}

.row {
  flex-direction: row;
}

.cell {
  /* border:1px solid white; */
  background-color: var(--primary);
  margin: 5%;
}

.col-left {
  width: 33%;
  height: 100%;
  border-collapse: collapse;
  border: 0;
  margin: 0;
  float: left;
  padding: 2px;
  white-space: nowrap;
}

.col-middle {
  width: 33%;
  height: 100%;
  border-collapse: collapse;
  border: 0;
  margin: 0;
  float: left;
  padding: 2px;
  white-space: nowrap;
}

.col-right {
  width: 33%;
  height: 100%;
  border-collapse: collapse;
  border: 0;
  margin: 0;
  float: left;
  padding: 2px;
  white-space: nowrap;
}

nav ul{height:100%; width:100%;}
nav ul{overflow:hidden; overflow-y:auto; direction:rtl;margin: auto; padding: 0;}

/* SCROLLBARS */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* background: var(--secondary); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}